{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}


	<div class="row-fluid">

		<div class="span2" id="members-here">
			<ul id="list-of-members">
			</ul>
		</div>

		<div class="span7" align="center">
			<h3 id="movie-title"><h3>
			<video id="video-screen">
				<source src="{{ movie_url }}" type="video/mp4" />
			</video>
		</div>

		<div class="span3">
		</div>
		<div id="member-modal" class="modal hide fade" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modal-label">Enter your name</h3>
			</div>
			<div class="modal-body">
				<input type="text" id="member-name-field" name="member_name" class="span12" \>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="member-modal-button" data-dismiss="modal" aria-hidden="true">Submit</button>
			</div>
		</div>

	</div>

<script type="text/javascript">
	var vid = document.getElementById("video-screen");
	var member_name = "";

	$("#member-modal-button").click(function() {
		member_name = $("#member-name-field").val();
		$.ajax({
			url: '/set_name',
			type: 'post',
			data: { 'name' : member_name }
		}).success(function(data) {
			userInfo=data.name;
		})
	});


	$("#video-screen").click(function() {
		if (videoowner == userId) {
			eventSeeked();
		}
	});
	
	function eventSeeked() {
		$.ajax({
			url: '/event',
			type: 'GET',
			data: { 'currentTime': vid.currentTime, 'page_id': page_id, 'member_id': userId }
		});
    };
    
    vid.addEventListener('pause', eventPaused);
	
    function eventPaused() {
    	if (userId == videoowner) {
    		$.ajax({
				url: '/event',
				type: 'GET',
				data: { 'currentTime': -1, 'page_id': page_id, 'member_id': userId }
			});
    	}
    };


    Pusher.channel_auth_endpoint = '/pusher/presence_auth';   
    var page_id = window.location.pathname.toString().replace(/\//g,"");
    var channel_name = 'presence-splitscreen-'+page_id;
    var event_name = 'splitscreen-event-'+page_id;
    var pusher = new Pusher('1578e782124a7bedfabc');
	var channel = pusher.subscribe(channel_name);
	var me;
	var userId;
	var userInfo;
	var videoowner = "";

	channel.bind('pusher:subscription_error', function(statusCode) {
			alert('Problem subscribe to "presence-channel": ' + statusCode);
	});

	channel.bind('pusher:subscription_succeeded', function(members) {
		me = channel.members.me;
		userId = me.id;
		userInfo = me.info;

		$.ajax({
			url: '/set_theater_owner',
			data: {'owner': me.id, 'page_id': page_id}
		}).success(function(data) {
			videoowner = data.owner;
			if (videoowner == userId) {
				vid.controls = true;
			} else {

			}
		});

	});

	channel.bind('pusher:member_added', function(member) {
		if (videoowner == userId) {
			eventSeeked();
		} else {
			vid.autoplay();
		}
	});

	channel.bind(event_name, function(data) {
		if (data.currentTime != -1) {
			vid.currentTime = data.currentTime;
			vid.play();
		} else {
			vid.pause(); 
		}
	});
   
		
</script>

{% endblock %}
